[package]
name = "rewind-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
chrono = { workspace = true }
regex = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
